<ng-container *watch>
  @if (vm.isBigViewPort()) {
    <header realspace class="global-header"></header>
  }
</ng-container>

<ng-container *watch>
  <mat-sidenav-container [hasBackdrop]="vm.hasBackdrop()"
                         (backdropClick)="vm.closeSidenav()">
    <mat-sidenav [opened]="vm.sidenavOpen()" [mode]="vm.sidenavMode()">
      <app-realspace-sidenav-content/>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-realspace-content/>
    </mat-sidenav-content>
  </mat-sidenav-container>

</ng-container>


