<ng-template [nzDetachedView]="Priority.immediate" let-dvCdRef>

  @if (vm.isBigViewPort$ | in: dvCdRef) {
    <header realspace class="global-header"></header>
  }

</ng-template>

<ng-template [nzLocalView]="Priority.immediate">

  <mat-sidenav-container [hasBackdrop]="vm.hasBackdrop$ | in:cdRef"
                         (backdropClick)="vm.closeSidenav()">
    <mat-sidenav [opened]="vm.sidenavOpen$ | in:cdRef" [mode]="(vm.sidenavMode$ | in:cdRef)!">
      <app-realspace-sidenav-content/>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-realspace-content/>
    </mat-sidenav-content>
  </mat-sidenav-container>

</ng-template>

