<nav class="p-[16px] ml-[16px] mr-[16px]">
  <section>
    <h3 class="text-center heading">Discover</h3>
    <ul class="ml-auto mr-auto">
      <li>
        <a mat-button color="accent" routerLink="/category/now_playing"><mat-icon>play_circle</mat-icon>Now playing</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/category/popular"><mat-icon>favorite</mat-icon>Popular</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/category/top_rated"><mat-icon>local_fire_department</mat-icon>Top Rated</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/category/upcoming"><mat-icon>calendar_today</mat-icon>Upcoming</a>
      </li>
    </ul>
  </section>
  <section class="mt-[16px]">
    <h3 class="text-center heading">Genres</h3>
    <ul class="ml-auto mr-auto">
      <li>
        <a mat-button color="accent" routerLink="/genre/28"><mat-icon>radio_button_checked</mat-icon>Action</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/genre/12"><mat-icon>radio_button_checked</mat-icon>Adventure</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/genre/16"><mat-icon>radio_button_checked</mat-icon>Animation</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/genre/35"><mat-icon>radio_button_checked</mat-icon>Comedy</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/genre/80"><mat-icon>radio_button_checked</mat-icon>Crime</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/genre/99"><mat-icon>radio_button_checked</mat-icon>Documentary</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/genre/18"><mat-icon>radio_button_checked</mat-icon>Drama</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/genre/10751"><mat-icon>radio_button_checked</mat-icon>Family</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/genre/14"><mat-icon>radio_button_checked</mat-icon>Fantasy</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/genre/36"><mat-icon>radio_button_checked</mat-icon>History</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/genre/27"><mat-icon>radio_button_checked</mat-icon>Horror</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/genre/10402"><mat-icon>radio_button_checked</mat-icon>Music</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/genre/9648"><mat-icon>radio_button_checked</mat-icon>Mystery</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/genre/10749"><mat-icon>radio_button_checked</mat-icon>Romance</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/genre/878"><mat-icon>radio_button_checked</mat-icon>Science Fiction</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/genre/10770"><mat-icon>radio_button_checked</mat-icon>Tv Movie</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/genre/53"><mat-icon>radio_button_checked</mat-icon>Thriller</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/genre/10752"><mat-icon>radio_button_checked</mat-icon>War</a>
      </li>
      <li>
        <a mat-button color="accent" routerLink="/genre/37"><mat-icon>radio_button_checked</mat-icon>Weastern</a>
      </li>
    </ul>
  </section>
</nav>
